body {
    width: 100%;
    height: 100vh;
    background-color: black;
}

main{
grid-template-areas: 
"nav nav nav nav"
". section section ."
"barChart barChart barChart barChart"
"footer footer footer footer";
}

/* NAVIGATION BAR */
nav {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #069CC0;
}

/* links */
nav a {
    padding: 10px;
    color: white;
    font-size: 1.5em;
    font-family: 'Abel', sans-serif;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.842);
    color: black;
    border-radius: 10px;
}

/* MIC logo */
#logo {
    position: relative;
    animation: fill 0.5s ease forwards 3s;
    padding: 10px;
}

#logo path {
    stroke: #069CC0;
    stroke-width: 5px;
}

#logo path:nth-child(1) {
    stroke-dasharray: 754.9px;
    stroke-dashoffset: 754.9px;
    animation: 2s line-anim ease forwards .3s;
}

#logo path:nth-child(2) {
    stroke-dasharray: 226.9px;
    stroke-dashoffset: 226.9px;
    animation: 2s line-anim ease forwards .6s;
}

#logo path:nth-child(3) {
    stroke-dasharray: 508px;
    stroke-dashoffset: 508px;
    animation: 2s line-anim ease forwards .9s;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

/* @keyframes fill {
    from {
        fill: transparent;
    }
    to {
       fill: #069CC0;
    }
} */

/*button*/

#container {
    height: 80px;
    width: 250px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainButton {
    height: 50px;
    width: 200px;
    position: relative;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    border-radius: 10px;
}

#mainButton:before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    border: 1px solid transparent;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    border-radius: 10px;
}

#mainButton:after{
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    border: 1px solid transparent;
    top: 0;
    right: 0;
    box-sizing: border-box;
    border-radius: 10px;
}

#mainButton:hover:before {
    height: 50px;
    width: 200px;
    border: 5px solid #069CC0;
    border-right: none;
    border-bottom: none;
    border-radius: 10px;
    transition: height 0.3s linear,
                width 0.3s linear 0.3s;
}

#mainButton:hover:after {
    height: 50px;
    width: 200px;
    border: 4px solid #069CC0;
    border-left: none;
    border-top: none;
    border-radius: 10px;
    transition: height 0.3s linear,
                width 0.3s linear 0.3s;
}

/* SICKBAY SECTION */

#sickbayStart {
    grid-area: section;
    height: 300px;
    background: linear-gradient(#069CC0, black);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 10px;
}

#headerContainer {
    margin-left: 100px;
    margin-right: 100px;
}

#headerContainer p {
    color: white;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;

}

h3 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    margin-bottom: 0px;
    margin-top: 0px;
}

h3~h3 {
    margin-left: 50px;
    margin-bottom: 10px;
}

#sickbay {
    height: 300px;
    width: 350px;
    padding: 50px 50px 50px 50px;
    margin-left: 150px;
    margin-top: 20px;
}

/* INFO SECTION */

#platformContainer {
    margin-top: 75px;
}

#platformContainer h2 {
    color: white;
    width: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#platformContainer p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: auto;
    margin-right: 20px;
}

/* BAR CHART SECTION*/
#barChartSection {
    grid-area: barChart;
    display: flex;
    justify-content: center;
    align-items: center;
}

#barChart {
    border: 1px solid white;
}

rect {
    fill: #069CC0;
}

text {
    color: white;
    font-size: 1.4em;
    font-family: 'Montserrat', sans-serif;
}

.axis-label {
    font-size: 2.3em;
}

.title {
    font-size: 1.75em;
}

/* .domain {
    stroke: white;
} */

.tick line {
    stroke: #C0C0BB;
}

/* FOOTER */

footer {
    grid-area: footer;
    margin-top: 50px;
}

footer img {
    margin: 0px 50px;
}

footer p {
    color: white;
    margin: 0px 50px;
}

#fb {
    fill: white;
}

#linkedin {
    fill: white;
}

#twitter {
    fill: white;
}

#foot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
}

#links-container{
    width: 15em;
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
}

#bit-container h1 {
    margin: 20px 0px;
    text-align: center;
    font-size: 1em;
    color: #069CC0;
    font-family: 'Montserrat', sans-serif;
}
